{{extend 'layout.html'}}
<style>
td{

    border: 1px solid black;
}
    .offset{
        padding-left: 20px;
        padding-top: 80px;
    }
}
</style>
<body>
    <div class="centered">
        <table>
            <tr>
                <td>
                    Phone Model
                </td>
                <td>
                    Black Screen
                </td>
                <td>
                    White Screen
                </td>
                <td>
                    Battery
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 4
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-4/lcd-screen-and-digitizer-assembly-black-for-iphone-4-gsm-at-t">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-4/lcd-and-screen-digitizer-assembly-white-for-iphone-4-verizon-sprint">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-4/replacement-battery-for-at-t-verizon-sprint-for-iphone-4">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 4S
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-4s/for-iphone-4s-lcd-screen-and-digitizer-assembly-black">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-4s/for-iphone-4s-lcd-screen-and-digitizer-assembly-white">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-4s/replacement-battery-for-iphone-4s">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 5
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5/incell-brand-lcd-screen-and-digitizer-assembly-black-for-iphone-5">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5/incell-brand-lcd-screen-and-digitizer-assembly-white-for-iphone-5">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5/battery-for-iphone-5">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 5C
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5c/incell-brand-lcd-screen-and-digitizer-assembly-black-for-iphone-5c">Black Screen</a>
                </td>
                <td>
                    None
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5c/battery-for-iphone-5c">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 5S
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5s/incell-brand-lcd-screen-and-digitizer-assembly-black-for-iphone-5s">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5s/incell-brand-lcd-screen-and-digitizer-assembly-white-for-iphone-5s">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-5s/battery-for-the-iphone-5s">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone SE
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-se/incell-brand-lcd-screen-and-digitizer-assembly-black-for-iphone-se">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-se/incell-brand-lcd-screen-and-digitizer-assembly-white-for-iphone-se">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-se/battery-for-the-iphone-se">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-6-4-7">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-6-4-7">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6/battery-for-the-iphone-6-4-7">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6 Plus
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-6-plus-5-5">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-6-plus-5-5">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6-plus/battery-for-iphone-6-plus-5-5">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6S
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6s/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-6s-4-7">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6s/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-6s-4-7">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6s/1715-mah-battery-for-iphone-6s">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6S Plus
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6s-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-6s-plus-5-5">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6s-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-6s-plus-5-5">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-6s-plus/2750-mah-battery-for-iphone-6s-plus">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 7
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-7/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-7-4-7">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-7/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-7-4-7">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-7/battery-for-the-iphone-7-4-7">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 7 Plus
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-7-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-7-plus-5-5">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-7-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-7-plus-5-5">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-7-plus/battery-for-iphone-7-plus-5-5">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 8
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-8/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-8-4-7">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-8/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-8-4-7">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-8/battery-for-the-iphone-8-4-7">Battery</a>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 8 Plus
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-8-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-black-for-iphone-8-plus-5-5">Black Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-8-plus/sharp-lg-or-auo-panel-screen-and-digitizer-assembly-white-for-iphone-8-plus-5-5">White Screen</a>
                </td>
                <td>
                    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-8-plus/battery-for-iphone-8-plus-5-5">Battery</a>
                </td>
            </tr>
        </table>
    </div>
</body>
